.container {
  padding-bottom: 30px;
}

h1, h3, h4 {
  text-align: center;
}

h2, h5 {
  display: none;
}

h3 {
  padding-bottom: 30px;
}

.row {
  padding: 15px;
}

#css, #java, #php, #csharp, #ruby {
  display: none;
}

.result-info img {
  height: 100px;
  width: auto;
  display: block;
  margin: 0 auto;
}

.result-info p {
  text-align: left;
}
